__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll
*.log
logs/
*.zip
*.rar
*.pdf
data/raw_pdf/
data/preview_pdf/
data/preview_pdf_to_mineru/
data/selectedpaper_to_mineru/
data/paper_summary/
data/paperList_remove_duplications/
data/arxivList/
data/instutions_filter/
Controller/__pycache__/
config/__pycache__/
reference/
logs/
config/config1.py